.lightning-studio{
	color : blue;
}
/*.slds-table_container {
    overflow-x: auto;
}*/

/*.slds-modal__container {
    width: 1500px;
    
}*/

/*.slds-modal__body iframe {
    width: 200%;
    height: 200%;
}*/